{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">سجل المعاملات</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a href="{{ url_for('dashboard') }}" class="btn btn-sm btn-outline-secondary">
            العودة إلى لوحة التحكم
        </a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>التاريخ</th>
                <th>المبلغ المدفوع</th>
                <th>العملة</th>
                <th>المبلغ المستلم</th>
                <th>العملة</th>
                <th>الرسوم</th>
            </tr>
        </thead>
        <tbody>
            {% for tx in transactions %}
            <tr>
                <td>{{ tx.timestamp.strftime('%Y-%m-%d %H:%M') }}</td>
                <td>{{ tx.amount_from }}</td>
                <td>{{ tx.from_currency_code }}</td>
                <td>{{ "%.2f"|format(tx.amount_to) }}</td>
                <td>{{ tx.to_currency_code }}</td>
                <td>{{ "%.2f"|format(tx.fee) }} {{ tx.to_currency_code }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5" class="text-center">ليس لديك أي معاملات سابقة.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
